# Prepping some South Park Data

In [6]:
import numpy as np

import pandas as pd

## Read in the data file

In [4]:
data = pd.read_csv('./data/SouthParkData/All-seasons.csv')
data.head(5)

  Season Episode Character                                               Line
0     10       1      Stan         You guys, you guys! Chef is going away. \n
1     10       1      Kyle                        Going away? For how long?\n
2     10       1       Sta                                         Forever.\n
3     10       1      Chef                                  I'm sorry boys.\n
4     10       1      Stan  Chef said he's been bored, so he joining a gro...

In [10]:
unique_chars = np.unique(data['Character'])
len(unique_chars)

3987

In [20]:
unique_seasons = np.unique(data['Season'])
print(len(unique_seasons))
unique_seasons

19

array(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '2',
       '3', '4', '5', '6', '7', '8', '9', 'Season'], dtype=object)

In [28]:
no_season_rows = data[data['Season'] != 'Season']

In [24]:
data[data['Season'] == 'Season']

       Season  Episode  Character  Line
3469   Season  Episode  Character  Line
6948   Season  Episode  Character  Line
10256  Season  Episode  Character  Line
13514  Season  Episode  Character  Line
16861  Season  Episode  Character  Line
19963  Season  Episode  Character  Line
23084  Season  Episode  Character  Line
25390  Season  Episode  Character  Line
27912  Season  Episode  Character  Line
32083  Season  Episode  Character  Line
38500  Season  Episode  Character  Line
44299  Season  Episode  Character  Line
49980  Season  Episode  Character  Line
54395  Season  Episode  Character  Line
59527  Season  Episode  Character  Line
63764  Season  Episode  Character  Line
67368  Season  Episode  Character  Line